.idea
*.pyc
string=sorted(input())
lower=""
even=""
odd=""
upper=""
for i in string:
    if i.islower():
        lower+=i
    elif i.isupper():
        upper+=i
    elif int(i)%2==0:
        even+=i
    else:
        odd+=i
print(lower+upper+odd+even)
