pafy==0.5.5
aiohttp==3.9.3
fuzzywuzzy==0.18.0
hupper==1.12
seaborn==0.13.1
time==1.0.0
simplegui==0.1.1
utils==1.0.2
Tubes==0.2.1
modules==1.0.0
pdf2docx==0.5.8
pong==1.5
beautifulsoup4==4.12.3
dictator==0.3.1
caller==0.0.2
watchdog==3.0.0
PyQt5==5.15.10
numpy==1.26.4
fileinfo==0.3.3
backend==0.2.4.1
win10toast==0.9
Counter==1.0.0
Flask==3.0.2
selenium==4.16.0
firebase-admin==6.3.0
ujson==5.9.0
requests==2.31.0
quo==2023.5.1
PyPDF2==3.0.1
pyserial==3.5
twilio==8.12.0
tabula==1.0.5
nltk==3.8.1
Pillow==10.2.0
SocksiPy-branch==1.01
xlrd==2.0.1
fpdf==1.7.2
mysql-connector-repackaged==0.3.1
word2number==1.1
tornado==6.4
obs==0.0.0
todo==0.1
oauth2client==4.1.3
keras==3.0.4
pymongo==4.6.1
playsound==1.3.0
pyttsx3==2.90
auto-mix-prep==0.2.0
lib==4.0.0
pywifi==1.1.12
patterns==0.3
openai==1.9.0
background==0.2.1
pydantic==2.6.1
openpyxl==3.1.2
pytesseract==0.3.10
requests-mock==1.11.0
pyglet==2.0.10
urllib3==2.1.0
thirdai==0.7.28
google-api-python-client==2.115.0
sound==0.1.0
xlwt==1.3.0
pygame==2.5.2
speechtotext==0.0.3
wikipedia==1.4.0
tqdm==4.66.1
Menu==3.2.2
yfinance==0.2.35
tweepy==4.14.0
tkcalendar==1.6.1
pytube==15.0.0
xor-cipher==3.1.0
bird==0.1.2
mechanize==0.4.9
translate==3.6.1
solara==1.26.1
pywhatkit==5.4
mutagen==1.47.0
Unidecode==1.3.8
Ball==0.2.9
pynput==1.7.6
gTTS==2.5.0
ccxt==4.2.20
fitz==0.0.1.dev2
fastapi==0.109.0
Django==5.0.1
docx==0.2.4
matplotlib==3.8.2
pyshorteners==1.0.1
geocoder==1.38.1
APScheduler==3.10.4
PyQRCode==1.2.1
freegames==2.5.3
pyperclip==1.8.2
newspaper==0.1.0.7
opencv-python==4.9.0.80
tensorflow==2.15.0.post1
pandas==2.2.0
pytest==7.4.4
qrcode==7.4.2
googletrans==3.0.0
slab==1.1.5
psutil==5.9.8
mediapipe==0.10.9
rich==13.7.0
httplib2==0.22.0
protobuf==4.25.2
colorama==0.4.6
plyer==2.1.0
Flask-Ask==0.9.8
emoji==2.10.0
PyAutoGUI==0.9.54
