pafy==0.5.5
aiohttp==3.9.5
fuzzywuzzy==0.18.0
hupper==1.12.1
seaborn==0.13.2
time==1.0.0
simplegui==0.1.1
utils==1.0.2
Tubes==0.2.1
modules==1.0.0
pdf2docx==0.5.8
pong==1.5
beautifulsoup4==4.12.3
dictator==0.3.1
caller==0.0.2
watchdog==4.0.2
PyQt5==5.15.11
numpy==2.1.0
fileinfo==0.3.3
backend==0.2.4.1
win10toast==0.9
Counter==1.0.0
Flask==3.0.3
selenium==4.23.1
firebase-admin==6.5.0
ujson==5.10.0
requests==2.32.3
quo==2023.5.1
PyPDF2==3.0.1
pyserial==3.5
twilio==9.1.1
tabula==1.0.5
nltk==3.9.1
Pillow==10.3.0
SocksiPy-branch==1.01
xlrd==2.0.1
fpdf==1.7.2
mysql-connector-repackaged==0.3.1
word2number==1.1
tornado==6.4.1
obs==0.0.0
todo==0.1
oauth2client==4.1.3
keras==3.5.0
pymongo==4.7.3
playsound==1.3.0
pyttsx3==2.90
auto-mix-prep==0.2.0
lib==4.0.0
pywifi==1.1.12
patterns==0.3
openai==1.42.0
background==0.2.1
pydantic==2.8.2
openpyxl==3.1.2
pytesseract==0.3.13
requests-mock==1.12.1
pyglet==2.0.10
urllib3==2.2.2
thirdai==0.8.5
google-api-python-client==2.142.0
sound==0.1.0
xlwt==1.3.0
pygame==2.6.0
speechtotext==0.0.3
wikipedia==1.4.0
tqdm==4.66.5
Menu==3.2.2
yfinance==0.2.41
tweepy==4.14.0
tkcalendar==1.6.1
pytube==15.0.0
xor-cipher==4.0.0
bird==0.1.2
mechanize==0.4.10
translate==3.6.1
solara==1.32.2
pywhatkit==5.4
mutagen==1.47.0
Unidecode==1.3.8
Ball==0.2.9
pynput==1.7.7
gTTS==2.5.3
ccxt==4.3.87
fitz==0.0.1.dev2
fastapi==0.109.0
Django==5.1
docx==0.2.4
matplotlib==3.9.2
pyshorteners==1.0.1
geocoder==1.38.1
APScheduler==3.10.4
PyQRCode==1.2.1
freegames==2.5.3
pyperclip==1.8.2
newspaper==0.1.0.7
opencv-python==4.10.0.82
tensorflow==2.15.0.post1
pandas==2.2.2
pytest==8.3.2
qrcode==7.4.2
googletrans==3.0.0
slab==1.7.0
psutil==6.0.0
mediapipe==0.10.14
rich==13.7.1
httplib2==0.22.0
protobuf==5.27.1
colorama==0.4.6
plyer==2.1.0
Flask-Ask==0.9.8
emoji==2.11.1
PyAutoGUI==0.9.54
