aiohttp==3.9.3
APScheduler==3.10.4
auto-mix-prep==0.2.0
backend==0.2.4.1
background==0.2.1
Ball==0.2.9
beautifulsoup4==4.12.3
bird==0.1.2
caller==0.0.2
ccxt==4.3.18
colorama==0.4.6
Counter==1.0.0
dictator==0.3.1
Django==5.0.5
docx==0.2.4
emoji==2.11.1
fastapi==0.109.0
fileinfo==0.3.3
firebase-admin==6.5.0
fitz==0.0.1.dev2
Flask==3.0.2
Flask-Ask==0.9.8
fpdf==1.7.2
freegames==2.5.3
fuzzywuzzy==0.18.0
geocoder==1.38.1
google-api-python-client==2.115.0
googletrans==3.0.0
gTTS==2.5.0
httplib2==0.22.0
hupper==1.12.1
keras==3.3.3
lib==4.0.0
matplotlib==3.9.0
mechanize==0.4.10
mediapipe==0.10.9
Menu==3.2.2
modules==1.0.0
mutagen==1.47.0
mysql-connector-repackaged==0.3.1
newspaper==0.1.0.7
nltk==3.8.1
numpy==1.26.4
oauth2client==4.1.3
obs==0.0.0
openai==1.9.0
opencv-python==4.9.0.80
openpyxl==3.1.2
pafy==0.5.5
pandas==2.2.2
patterns==0.3
pdf2docx==0.5.8
Pillow==10.2.0
playsound==1.3.0
plyer==2.1.0
pong==1.5
protobuf==4.25.2
psutil==5.9.8
PyAutoGUI==0.9.54
pydantic==2.6.1
pygame==2.5.2
pyglet==2.0.10
pymongo==4.7.1
pynput==1.7.6
PyPDF2==3.0.1
pyperclip==1.8.2
PyQRCode==1.2.1
PyQt5==5.15.10
pyserial==3.5
pyshorteners==1.0.1
pytesseract==0.3.10
pytest==8.2.0
pyttsx3==2.90
pytube==15.0.0
pywhatkit==5.4
pywifi==1.1.12
qrcode==7.4.2
quo==2023.5.1
requests==2.31.0
requests-mock==1.12.1
rich==13.7.1
seaborn==0.13.1
selenium==4.16.0
simplegui==0.1.1
slab==1.1.5
SocksiPy-branch==1.01
solara==1.32.2
sound==0.1.0
speechtotext==0.0.3
tabula==1.0.5
tensorflow==2.15.0.post1
thirdai==0.7.44
time==1.0.0
tkcalendar==1.6.1
todo==0.1
tornado==6.4
tqdm==4.66.4
translate==3.6.1
Tubes==0.2.1
tweepy==4.14.0
twilio==9.0.0
ujson==5.9.0
Unidecode==1.3.8
urllib3==2.2.1
utils==1.0.2
watchdog==3.0.0
wikipedia==1.4.0
win10toast==0.9
word2number==1.1
xlrd==2.0.1
xlwt==1.3.0
xor-cipher==4.0.0
yfinance==0.2.35
