pafy
aiohttp
fuzzywuzzy
hupper
seaborn
beautifulsoup4
watchdog
PyQt5
numpy
win10toast
Flask
selenium
firebase-admin
ujson
requests
PyPDF2
pyserial
twilio
tabula-py
nltk
Pillow
SocksiPy-branch
xlrd
fpdf2
mysql-connector-python
word2number
tornado
oauth2client
keras
pymongo
playsound
pyttsx3
pydantic
openpyxl
pytesseract
requests-mock
pyglet
urllib3
thirdai
google-api-python-client
pygame
wikipedia
tqdm
yfinance
tweepy
tkcalendar
pytube
mechanize
googletrans
translate-tool
pywhatkit
mutagen
Unidecode
pynput
gTTS
ccxt
fitz
fastapi
Django
python-docx
matplotlib
pyshorteners
geocoder
APScheduler
PyQRCode
freegames
pyperclip
newspaper3k
opencv-python
tensorflow
pandas
pytest
qrcode
googletrans-new
slab
psutil
mediapipe
rich
httplib2
protobuf
colorama
plyer
Flask-Ask
emoji
PyAutoGUI
