aiohttp
APScheduler
auto-mix-prep
backend
background
Ball
beautifulsoup4
bird
caller
ccxt
colorama
Counter
dictator
Django
docx
emoji
fastapi
fileinfo
firebase-admin
fitz
Flask
Flask-Ask
fpdf
freegames
fuzzywuzzy
geocoder
google-api-python-client
googletrans
gTTS
httplib2
hupper
keras
lib
matplotlib
mechanize
mediapipe
Menu
modules
mutagen
mysql-connector-repackaged
newspaper
nltk
numpy
oauth2client
obs
openai
opencv-python
openpyxl
pafy
pandas
patterns
pdf2docx
Pillow
playsound
plyer
pong
protobuf
psutil
PyAutoGUI
pydantic
pygame
pyglet
pymongo
pynput
PyPDF2
pyperclip
PyQRCode
PyQt5
pyserial
pyshorteners
pytesseract
pytest
pyttsx3
pytube
pywhatkit
pywifi
qrcode
quo
requests
requests-mock
rich
seaborn
selenium
simplegui
slab
SocksiPy-branch
solara
sound
speechtotext
tabula
tensorflow
thirdai
time
tkcalendar
todo
tornado
tqdm
translate
Tubes
tweepy
twilio
ujson
Unidecode
urllib3
utils
watchdog
wikipedia
win10toast
word2number
xlrd
xlwt
xor-cipher
yfinance
